<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="tiles">
	<!-- top tiles start -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-user"></i> Utilisateur(s) total</span>
			<div class="count green" th:text="${topTiles.totalUserAdmin}"></div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-user"></i> Administrateur(s)</span>
			<div class="count" th:text="${topTiles.totalAdmins}"></div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-user"></i> Utilisateur(s)</span>
			<div class="count" th:text="${topTiles.totalUsers}"></div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-sitemap"></i> Catégories</span>
			<div class="count green" th:text="${topTiles.totalCategories}"></div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-book"></i> Livres</span>
			<div class="count" th:text="${topTiles.totalBooks}"></div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-cart-arrow-down"></i> Livres émis</span>
			<div class="count green" th:text="${topTiles.totalIssuedBooks}"></div>
		</div>
	</div>
	<!-- top tiles end -->

</th:block>

</html>
